<!DOCTYPE html>
<html>
<head>	
  <title>Play Funston</title>
  <meta name="google-site-verification" content="KzqMhVP2iKSoF60Q0NNtGct9GWvpqEVIkjXByqC6670" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
